# Visual Studio Cache files
*.cache/**
# Jupyter metadata files
*.config/**
*.ipython/**
*.jupyter/**
*.local/**
*.npm/**
**/.ipynb_checkpoints/**
# Bash files
.bash_history
# Dev containers files
*.ssh/**
*.vscode-server/**
*.dotnet/**
# Ignore items in data folder
data/**
dbbackups/**